In [1]:
import pandas as pd

## Get data

In [17]:
cinv = pd.read_csv('Downloads/Case Study - Closing Inventory.txt', sep='\t', encoding='utf-16',
                   parse_dates=['calendar_date'])

In [30]:
fore = pd.read_csv('Downloads/Case Study - Forecast Data.txt', sep='\t', encoding='utf-16',
                  parse_dates=['calendar_date'])

In [51]:
depot = pd.read_csv('Downloads/Case Study - Depot Data.txt', sep='\t', encoding='utf-16',
                   parse_dates=['calendar_date'])

In [52]:
instore = pd.read_csv('Downloads/Case Study - In Store Data.txt', sep='\t', encoding='utf-16',
                     parse_dates=['calendar_date'])

### Review Each file

In [18]:
cinv.head()

,upc,calendar_date,calendar_id,store_id,geography_id,shelf_life,units_per_tray,closing_inventory_min_neg_over_shelf_life_minus_2_days,closing_inventory_neg_count_over_1_day,closing_inventory_neg_count_over_shelf_life_minus_2_days,closing_inventory_on_day
0,464345,2018-07-07,20180707,2061,6729,6,10,NaN,0,0,6.0
1,881302,2018-07-07,20180707,851,517,5,12,NaN,0,0,NaN
2,481502,2018-07-07,20180707,427,1937,5,12,NaN,0,0,NaN
3,165778,2018-07-07,20180707,6826,1087,7,4,NaN,0,0,NaN
4,863506,2018-07-07,20180707,1833,6183,14,6,NaN,0,0,7.0

In [44]:
cinv_tf_grid = cinv.apply(lambda x: x.isna().value_counts()).transpose().reset_index()
cinv_tf_grid = cinv_tf_grid.rename(columns={'index' : 'Columns'})

In [45]:
cinv['store_id'].drop_duplicates().shape

(623,)

In [46]:
cinv_tf_grid.head()

         Columns      False  True
0            upc  2648539.0   NaN
1  calendar_date  2648539.0   NaN
2    calendar_id  2648539.0   NaN
3       store_id  2648539.0   NaN
4   geography_id  2648539.0   NaN

#### Fore

In [47]:
fore.head()

,upc,calendar_date,calendar_id,store_id,actual_store_need_on_day,actual_store_need_over_lead_time,actual_store_need_qty_over_shelf_life,additive_allocated_qty_over_lead_time,additive_allocated_qty_over_shelf_life,additive_qty_allocated_on_day,...,replacement_qty_over_lead_time,replacement_qty_over_shelf_life,shelf_life,store_allocated_qty_over_lead_time,store_delivery_qty_on_day,store_required_qty_on_day,store_required_qty_over_lead_time,store_required_qty_over_shelf_life,target_inventory_on_day,units_per_tray
0,464345,2018-07-07,20180707,2061,6.0,6.0,6.0,0.0,0.0,0.0,...,NaN,NaN,6,10.0,20.0,18.20,18.20,18.20,6.12,10
1,881302,2018-07-07,20180707,851,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,5,12.0,NaN,2.39,2.39,2.39,NaN,12
2,481502,2018-07-07,20180707,427,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,12
3,165778,2018-07-07,20180707,6826,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,4
4,863506,2018-07-07,20180707,1833,-6.0,-6.0,-6.0,0.0,0.0,0.0,...,NaN,NaN,14,6.0,6.0,2.25,2.25,2.25,3.79,6

In [48]:
fore_tf_grid = fore.apply(lambda x: x.isna().value_counts()).transpose().reset_index()
fore_tf_grid = fore_tf_grid.rename(columns={'index' : 'Columns'})

In [49]:
fore_tf_grid.head()

                    Columns      False      True
0                       upc  2648539.0       NaN
1             calendar_date  2648539.0       NaN
2               calendar_id  2648539.0       NaN
3                  store_id  2648539.0       NaN
4  actual_store_need_on_day  1792461.0  856078.0

#### Depot

In [50]:
depot.head()

,upc,calendar_date,calendar_id,store_id,geography_id,shelf_life,units_per_tray,depot_delivered_qty_on_day,depot_delivered_qty_over_minus_2_day,depot_delivered_qty_over_shelf_life_plus_1,depot_lvl_required_qty_over_supplier_lead_time,depot_lvl_target_inventory_on_day,depot_ordered_qty_on_day,depot_ordered_qty_over_minus_2_day,depot_ordered_qty_over_shelf_life_plus_1,depot_ordered_qty_over_supplier_lead_time,depot_store_id
0,464345,07/07/2018 00:00:00,20180707,2061,6729,6,10,600.0,0.0,0.0,0.0,585.53,600.0,0.0,0.0,NaN,5173.0
1,881302,07/07/2018 00:00:00,20180707,851,517,5,12,1488.0,0.0,0.0,0.0,414.79,1488.0,0.0,0.0,NaN,5908.0
2,481502,07/07/2018 00:00:00,20180707,427,1937,5,12,672.0,0.0,0.0,0.0,700.79,672.0,0.0,0.0,NaN,5212.0
3,165778,07/07/2018 00:00:00,20180707,6826,1087,7,4,64.0,0.0,0.0,0.0,103.81,120.0,0.0,0.0,NaN,5908.0
4,863506,07/07/2018 00:00:00,20180707,1833,6183,14,6,NaN,0.0,0.0,0.0,311.15,NaN,0.0,0.0,NaN,5966.0

In [53]:
depot_tf_grid = depot.apply(lambda x: x.isna().value_counts()).transpose().reset_index()
depot_tf_grid = depot_tf_grid.rename(columns={'index' : 'Columns'})

In [62]:
depot_tf_grid.dropna(subset=[True])

                                       Columns      False      True
7                   depot_delivered_qty_on_day  2358445.0  290094.0
8         depot_delivered_qty_over_minus_2_day  2637331.0   11208.0
9   depot_delivered_qty_over_shelf_life_plus_1  2623099.0   25440.0
11           depot_lvl_target_inventory_on_day  2647668.0     871.0
12                    depot_ordered_qty_on_day  2358445.0  290094.0
13          depot_ordered_qty_over_minus_2_day  2637331.0   11208.0
14    depot_ordered_qty_over_shelf_life_plus_1  2623099.0   25440.0
15   depot_ordered_qty_over_supplier_lead_time  2502920.0  145619.0
16                              depot_store_id  2648446.0      93.0

#### instore

In [63]:
instore_tf_grid = instore.apply(lambda x: x.isna().value_counts()).transpose().reset_index()
instore_tf_grid = instore_tf_grid.rename(columns={'index' : 'Columns'})

In [64]:
instore_tf_grid.dropna(subset=[True])

                                              Columns      False       True
7                          cal_gross_sales_qty_on_day  1792461.0   856078.0
8   closing_inventory_min_neg_over_shelf_life_minu...    94194.0  2554345.0
11                           closing_inventory_on_day  1792461.0   856078.0
12                      delivered_qty_over_shelf_life  1796287.0   852252.0
13                           ranging_indicator_on_day  1792461.0   856078.0
14                               rtm_qty_over_minus_1   177222.0  2471317.0
15                                   rtm_quant_on_day    92272.0  2556267.0
16                           sales_qty_over_lead_time  1793267.0   855272.0
17                          sales_qty_over_shelf_life  1796287.0   852252.0
18                                 sales_value_on_day  1792461.0   856078.0
20                               stock_out_ind_on_day  1792461.0   856078.0
22                stockfile_adjust_qty_at_minus_1_day    87443.0  2561096.0
23                 stockfile_adjust_qty_at_plus_1_day   215285.0  2433254.0
24                        stockfile_adjust_qty_on_day    92272.0  2556267.0
25                                 waste_value_on_day  1792461.0   856078.0

In [66]:
fore.columns

Index(['upc', 'calendar_date', 'calendar_id', 'store_id',
       'actual_store_need_on_day', 'actual_store_need_over_lead_time',
       'actual_store_need_qty_over_shelf_life',
       'additive_allocated_qty_over_lead_time',
       'additive_allocated_qty_over_shelf_life',
       'additive_qty_allocated_on_day', 'allocated_qty_over_shelf_life',
       'allocated_quantity_on_day',
       'allocated_required_diff_high_qty_over_lead_time',
       'allocated_required_diff_high_qty_over_shelf_life',
       'allocated_required_diff_low_qty_over_lead_time',
       'allocated_required_diff_low_qty_over_shelf_life',
       'forecast_demand_on_day', 'forecast_demand_qty_over_lead_time',
       'forecast_demand_qty_over_shelf_life',
       'forecast_waste_qty_over_lead_time',
       'forecast_waste_qty_over_shelf_life', 'geography_id',
       'predicted_waste_on_day', 'replacement_qty_on_day',
       'replacement_qty_over_lead_time', 'replacement_qty_over_shelf_life',
       'shelf_life', 'store_allocated_qty_over_lead_time',
       'store_delivery_qty_on_day', 'store_required_qty_on_day',
       'store_required_qty_over_lead_time',
       'store_required_qty_over_shelf_life', 'target_inventory_on_day',
       'units_per_tray'],
      dtype='object')

In [70]:
cols_fore = ['upc', 'calendar_date', 'store_id', 'forecast_demand_on_day', 'predicted_waste_on_day', 'target_inventory_on_day']
fore[cols_fore].head()

,upc,calendar_date,store_id,forecast_demand_on_day,predicted_waste_on_day,target_inventory_on_day
0,464345,2018-07-07,2061,3.41,0.00,6.12
1,881302,2018-07-07,851,NaN,NaN,NaN
2,481502,2018-07-07,427,NaN,NaN,NaN
3,165778,2018-07-07,6826,NaN,NaN,NaN
4,863506,2018-07-07,1833,0.90,0.06,3.79

In [69]:
cinv.columns

Index(['upc', 'calendar_date', 'calendar_id', 'store_id', 'geography_id',
       'shelf_life', 'units_per_tray',
       'closing_inventory_min_neg_over_shelf_life_minus_2_days',
       'closing_inventory_neg_count_over_1_day',
       'closing_inventory_neg_count_over_shelf_life_minus_2_days',
       'closing_inventory_on_day'],
      dtype='object')

1. Daily sales (value and quantity)
2. Gross waste – before recovery (value and quantity)
3. Recovery (value)
4. Closing stock level
5. Target closing stock level
6. Forecast sales
7. Forecast waste
8. Amount delivered
9. Amount ordered
10. Tray size
11. Whether the product was ranged (ie, was it being discontinued)
12. Whether the product stocked out (ie, was not available to purchase)
13. The shelf life of the product
14. The lead time for a product
15. How much the stockfile was adjusted by following a stock check

In [72]:
cols_cinv = ['upc', 'calendar_date', 'store_id', 'shelf_life', 'units_per_tray', 'closing_inventory_on_day']
cinv[cols_cinv]

,upc,calendar_date,store_id,shelf_life,units_per_tray,closing_inventory_on_day
0,464345,2018-07-07,2061,6,10,6.0
1,881302,2018-07-07,851,5,12,NaN
2,481502,2018-07-07,427,5,12,NaN
3,165778,2018-07-07,6826,7,4,NaN
4,863506,2018-07-07,1833,14,6,7.0
...,...,...,...,...,...,...
2648534,349109,2018-06-08,5357,10,5,66.0
2648535,879194,2018-06-08,1860,4,8,NaN
2648536,650403,2018-06-08,1454,7,12,3.0
2648537,783057,2018-06-08,1861,5,8,14.0
2648538,73554,2018-06-08,4747,6,6,9.0

In [73]:
depot.columns

Index(['upc', 'calendar_date', 'calendar_id', 'store_id', 'geography_id',
       'shelf_life', 'units_per_tray', 'depot_delivered_qty_on_day',
       'depot_delivered_qty_over_minus_2_day',
       'depot_delivered_qty_over_shelf_life_plus_1',
       'depot_lvl_required_qty_over_supplier_lead_time',
       'depot_lvl_target_inventory_on_day', 'depot_ordered_qty_on_day',
       'depot_ordered_qty_over_minus_2_day',
       'depot_ordered_qty_over_shelf_life_plus_1',
       'depot_ordered_qty_over_supplier_lead_time', 'depot_store_id'],
      dtype='object')

In [ ]:
depot_cols = ['upc', 'calendar_date', 'store_id', ]

In [74]:
instore.columns

Index(['upc', 'calendar_date', 'calendar_id', 'store_id', 'geography_id',
       'shelf_life', 'units_per_tray', 'cal_gross_sales_qty_on_day',
       'closing_inventory_min_neg_over_shelf_life_minus_2_days',
       'closing_inventory_neg_count_over_1_day',
       'closing_inventory_neg_count_over_shelf_life_minus_2_days',
       'closing_inventory_on_day', 'delivered_qty_over_shelf_life',
       'ranging_indicator_on_day', 'rtm_qty_over_minus_1', 'rtm_quant_on_day',
       'sales_qty_over_lead_time', 'sales_qty_over_shelf_life',
       'sales_value_on_day', 'stock_adj_over_shelf_life_exclude_event_date',
       'stock_out_ind_on_day', 'stockfile_adjust_neg_count_over_minus_1_day',
       'stockfile_adjust_qty_at_minus_1_day',
       'stockfile_adjust_qty_at_plus_1_day', 'stockfile_adjust_qty_on_day',
       'waste_value_on_day'],
      dtype='object')

In [75]:
instore

,upc,calendar_date,calendar_id,store_id,geography_id,shelf_life,units_per_tray,cal_gross_sales_qty_on_day,closing_inventory_min_neg_over_shelf_life_minus_2_days,closing_inventory_neg_count_over_1_day,...,sales_qty_over_lead_time,sales_qty_over_shelf_life,sales_value_on_day,stock_adj_over_shelf_life_exclude_event_date,stock_out_ind_on_day,stockfile_adjust_neg_count_over_minus_1_day,stockfile_adjust_qty_at_minus_1_day,stockfile_adjust_qty_at_plus_1_day,stockfile_adjust_qty_on_day,waste_value_on_day
0,464345,2018-07-07,20180707,2061,6729,6,10,12.0,NaN,0,...,12.0,12.0,30.00,0.0,0.0,0,NaN,NaN,NaN,0.0
1,881302,2018-07-07,20180707,851,517,5,12,NaN,NaN,0,...,NaN,NaN,NaN,0.0,NaN,0,NaN,NaN,NaN,NaN
2,481502,2018-07-07,20180707,427,1937,5,12,NaN,NaN,0,...,NaN,NaN,NaN,0.0,NaN,0,NaN,NaN,NaN,NaN
3,165778,2018-07-07,20180707,6826,1087,7,4,NaN,NaN,0,...,NaN,NaN,NaN,0.0,NaN,0,NaN,NaN,NaN,NaN
4,863506,2018-07-07,20180707,1833,6183,14,6,1.0,NaN,0,...,1.0,1.0,1.00,0.0,0.0,0,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2648534,349109,2018-06-08,20180806,5357,-435,10,5,31.0,NaN,0,...,48.0,291.0,27.59,0.0,0.0,0,NaN,0.0,NaN,0.0
2648535,879194,2018-06-08,20180806,1860,6237,4,8,NaN,NaN,0,...,NaN,NaN,NaN,0.0,NaN,0,NaN,0.0,NaN,NaN
2648536,650403,2018-06-08,20180806,1454,6139,7,12,2.0,NaN,0,...,5.0,16.0,4.00,0.0,0.0,0,NaN,0.0,NaN,0.0
2648537,783057,2018-06-08,20180806,1861,6213,5,8,6.0,NaN,0,...,6.0,45.0,27.00,0.0,0.0,0,NaN,0.0,NaN,4.5
2648538,73554,2018-06-08,20180806,4747,793,6,6,6.0,NaN,0,...,12.0,35.0,25.50,0.0,0.0,0,NaN,0.0,NaN,0.0

In [ ]:
instore_cols = ['upc', 'calendar_date', 'store_id', '']

### Apply Rules

### Save Out

In [11]:
fore.to_csv('Documents/Projects/Newton Europe/nwt/data/fore.csv')

In [12]:
cinv.to_csv('Documents/Projects/Newton Europe/nwt/data/cinv.csv')

In [13]:
depot.to_csv('Documents/Projects/Newton Europe/nwt/data/depot.csv')

In [14]:
instore.to_csv('Documents/Projects/Newton Europe/nwt/data/instore.csv')